/** { outline: 1px solid red; }
*/
.inline-block {
    display: inline-block;
    vertical-align: top;
    background-color: #373738;
    color: white;

}
.logo {
    width: 100%;
    padding: 1%;
    text-align: left;
    height: 150px;
}

.navigation {
    background-color: #373738;
}

p {
    color: white;
}
nav {
    width: 73%;
    padding: 1%;
    background-color: #373738;
}

ul {
    width: 25%;
    margin-left: auto;
    padding: 1%;
}
/*
img {
    width: 200px;
}
*/

.button {
background-color: rgb(57, 72, 147);
color: white;
padding: 5px;
border-radius: 5px; 
}


.heroImg {
    height: 600px;
    padding: 25px;
    background-image: url("/images/5779873.jpg");
}
.content {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(192, 215, 230);
    border-radius: 5px; 
    text-align: center;
}



.centered {
    justify-content: center;
    margin: 5px;
    align-content: center;
    border-radius: 5px;
}

.mySkills {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 1%;
}


.flexContainer {

    width: 33%;
    height: 200px;
    padding: 50px;
    margin: 1%;
    background-color: rgb(192, 215, 230);
    align-items: center;
}

.paragraph {
    color: black;
}

#myWork {
    text-align: center;
    width: 300px;
    margin: 50px auto;
  }


.myWork {
    margin: 0px 5%;
  display: grid;
  /*grid-template-rows: 500px 500px 500px;*/
  /*grid-template-columns: 1fr 1fr 1fr;*/
  grid-template-areas:
  "app app app"
  "website website website"
  "watch watch watch"
  
}

.workGrid {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
    border-radius: 5px;
}


#app {
    background-color: rgb(192, 215, 230);
    padding: 20px;

}

#website {
    background-color: rgb(192, 215, 230);
    padding: 20px;
}

#watch {
    background-color: rgb(192, 215, 230);
    padding: 20px;
}
.footer {
    margin-left: 0%;
}

footer {
    background-color: #373738;
    text-align: left;
}

@media only screen and (max-width: 600px) {
   .flexContainer {display: flex;
    flex-direction: columns;
    width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .myWork {display: grid;
     width: 100%;
     grid-template-rows: 300px 300px 300px;
     grid-template-columns:1fr;
     grid-template-areas:
    "app"
    "website"
    "watch"
     }
 }

/* {
    background-color: lightgray;
}

/* the above section is my own work